
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #202123; 
    font-size: 10px;
    font-family: Verdana, sans-serif;
    color: #d1d3d5;
}
#container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px 3fr 4fr 2fr 2fr 8fr 8fr 40px 12px;
    grid-template-areas: 
    'h h h h'
    'm m m m'
    'a a a a'
    'q q q q'
    'w w w w'
    'pr1 pr1 pr2 pr2'
    'pr3 pr3 pr4 pr4'
    'f f f f'
    't t t t' ;
    column-gap: .5rem;
    row-gap: 2rem;
}
#header{
    grid-area: h;
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
    height:40px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #202123;
  }
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.navbar > ul{
    display: inline-flex;
    justify-content: space-evenly;
    width:100%;
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
}
ul > li > a {
    text-decoration: none;
    color:#d1d3d5;
}


#main{
    grid-area: m;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:3rem;
    letter-spacing: 0.3rem;
}
#main h1{
    display: inline-flex;
    text-align: center;
    color:#d1d3d5;
    font-size: 5rem;
    margin:0;
    font-family: 'Pompiere', cursive;
}
.color{
    color:#700010;
}

#about{
    grid-area:a;
    display: flex;
    font-size: 1.5rem;
}
.about{
    color:#d1d3d5;


}
#left{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#left p1{
    margin-right: 16rem;
}
#left p2{
    margin-right: 12rem;
}
#left p3{
    margin-right: 8rem;
}
#left p4{
    margin-right: 4rem;
}
#right{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#right p1{
    margin-right:16rem;
}
#right p2{
    margin-right: 12rem;
}
#right p3{
margin-right: 8rem;
}
#right p4{
    margin-left: 1.8rem;
}
#quote{
    grid-area: q; 
    margin-bottom: 2rem;
    margin-top: 1rem;
    
}
#quote h2{
    display:flex;
    align-content: center;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
    color: #d1d3d5;
    font-weight: 400;
}
#works{
    grid-area: w;
    text-align: center;
    margin-bottom: 1rem;
    font-family: inherit;
}
#works p{
    font-size: 3rem;
}

.code_view{
    border:1px solid #d1d3d5;
    color:#d1d3d5;
    outline: none;
    background: transparent;
    padding:4px 8px;
    border-radius:2rem;
    cursor:pointer;
    font-size: 0.7rem;
    transition: .4s ease-out;
    margin-right: 4rem;
}
.code_view:hover{
    background-color: #d1d3d5;
    color:#202123;
    border: 1 px solid #202123;
    transform: scale(130%);
}
.live_view{
    border:1px solid #d1d3d5;
    color:#202123;
    outline: none;
    background: #d1d3d5;;
    padding:4px 8px;
    border-radius:2rem;
    cursor:pointer;
    font-size: 0.7rem;
    transition: .4s ease-out;
}
.live_view:hover{
    background-color: #d1d3d5;
    color:#202123;
    border: 1 px solid #202123;
    transform: scale(130%);
}


#project1{
    grid-area: pr1;
    margin-left: 2rem;
}
.box-project{
    display: flex;
    flex-direction: column;
    height:100%;
    justify-content:space-between;
    text-align: center;
    
    
}
.box-1-inside{
font-size: 1.2rem;
height:25%;
margin-top: 0.8rem ;
}

#project2{
    grid-area: pr2;
    margin-right: 2rem;
}






#project3{
    grid-area: pr3;
    margin-left:2rem;

}





#project4{
    grid-area: pr4;
    margin-right:2rem;
}

#footer{
    grid-area:f;
    font-size: .6rem;
}
.contact{
    display: flex;
    justify-content: space-around;
    font-size: .8rem;
}
.email {
    border:1px solid #700010;
    color:#d1d3d5;
    outline: none;
    background: #700010 ;
    padding:4px 8px;
    border-radius:2rem;
    cursor:pointer;
    font-size: 0.7rem;
    transition: .4s ease-out;
}
.email_button{
    color:#d1d3d5;
    text-decoration: none;
}
#trademark{
    grid-area:t;
    text-align: center;
    font-size:.7rem;
    margin-bottom:4px;
}
.linkedin_link{
    color: #d1d3d5;
    text-decoration: none;
}