body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #202123; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#container{
    height:100vh;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 4fr 1fr 1fr;
    grid-template-areas: 
    'h h h h'
    'm m m m'
    'p1 p1 p2 p2'
    'p3 p3 p4 p4' ;
}
#header{
    grid-area: h;
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
    height:40px;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.navbar > ul{
    display: inline-flex;
    justify-content: space-evenly;
    width:100%;
    list-style: none;
    text-decoration: none;
    font-size: 0.9rem;
}
ul > li > a {
    text-decoration: none;
    color:#d1d3d5;
}


#main{
    grid-area: m;
}
#project1{
    grid-area: p1;
}
#project2{
    grid-area: p2;
}
#project3{
    grid-area: p3;
}
#project4{
    grid-area: p4;
}

